<div id="add">
    <div class="mt-5 mb-5"> 
        <a routerLink="/" class="btn btn-sm btn-outline-secondary">Back</a>
    </div>
    <div>
      <h3>Edit Book</h3> 
    </div>
    <form #form='ngForm' (submit)="submitForm(form.value)">
          <div class="form-group">
              <label for="title">Title</label>
              <input type="text" #title="ngModel" [(ngModel)]="title1" name="title" required class="form-control">
              <div *ngIf="title.errors" class="text-danger">
                  <small *ngIf="title.errors.required">Ce champs est obligartoire</small>
                </div>
          </div>
          <div class="form-group">
              <label for="author">Author</label>
              <input type="text" #author="ngModel" [(ngModel)]="author1" ngModel name="author" required class="form-control">
              <div *ngIf="author.errors" class="text-danger">
                  <small *ngIf="author.errors.required">Ce champs est obligartoire</small>
                </div>
          </div>
          <div class="form-group">
              <label for="category">Category</label>
              <select name="category" id="category" #category="ngModel" [(ngModel)]="category1" ngModel class="form-control" required>
                  <option value="Novel">Novel</option>
                  <option value="Technology">Technology</option>
                  <option value="Fiction">Fiction</option>
                  <option value="History">History</option>
                </select>
              <div *ngIf="category.errors" class="text-danger">
                  <small *ngIf="category.errors.required">Ce champs est obligartoire</small>
                </div>
          </div>
          <div class="form-group">
              <label for="rating">Rating</label>
              <input type="number" #rating="ngModel"  [(ngModel)]="rating1" ngModel name="rating" required class="form-control" min=0 max=5>
              <div *ngIf="rating.errors" class="text-danger">
                  <small *ngIf="rating.errors.required">Ce champs est obligartoire</small>
                </div>
          </div>
          <input [disabled]="!form.valid" type="submit" class="btn btn-primary" value="Add">
    </form>
</div>